<!-- <ion-thumbnail>
  <ion-skeleton-text animated></ion-skeleton-text>
</ion-thumbnail>

<div class="card-content">
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>

  <div class="ion-padding-top" style="display: flex">
    <ion-skeleton-text
      animated
      style="width: 40%; height: 20px"
    ></ion-skeleton-text>
    <ion-skeleton-text
      animated
      style="width: 40%; height: 20px; margin-left: 8px"
    ></ion-skeleton-text>
  </div>
</div> -->

<ion-thumbnail>
  <ion-skeleton-text animated></ion-skeleton-text>
</ion-thumbnail>

<div class="prices-container">
  <ion-skeleton-text animated class="price"></ion-skeleton-text>
  <ion-skeleton-text animated class="discount"></ion-skeleton-text>
</div>
<ion-skeleton-text animated style="margin-top: 5px"></ion-skeleton-text>
