

.muted-text {
  color: #919191;
}

.address {
  ion-item {
      --padding-start: 0;
      font-size: 18px;
      color: #434343;

      ion-badge {
          width: 12px;
          height: 12px;
          padding: 0;
          border-radius: 50%;
      }
  }
}

hr {
  background: #97979713;
}

.cart-total {
  ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;

      ion-label {
          margin-right: 0;
      }

      ion-label:nth-child(1) {
          color: #919191;
      }

      ion-label:nth-child(2) {
          color: #434343;
      }
  }
}


ion-footer {
  padding-left: 20px;
  padding-right: 20px;

  .main-button::after {
      box-shadow: none !important;
  }
}



