<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-slides #slider>
          <ion-slide>
            <div class="slide">
              <!-- <img src="./slide-1.png"/> -->
              <h2>Welcome</h2>
              <p>
                The <b>ionic conference app</b> is a practical preview of the
                ionic framework in action, and a demonstration of proper code
                use.
              </p>
            </div>

            <ion-buttons class="ion-justify-content-end">
              <ion-button fill="clear" (click)="nextSlide()"
                >Devam Et <ion-icon slot="end" name="arrow-forward"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-slide>

          <ion-slide>
            <!-- <img src="./slide-2.png"/> -->
            <h2>What is Ionic?</h2>
            <p>
              <b>Ionic Framework</b> is an open source SDK that enables
              developers to build high quality mobile apps with web technologies
              like HTML, CSS, and JavaScript.
            </p>

            <ion-buttons class="ion-justify-content-end">
              <ion-button style="margin-right: auto" (click)="prevSlide()"
                >Geri Git <ion-icon slot="start" name="arrow-back"></ion-icon
              ></ion-button>
              <ion-button (click)="nextSlide()"
                >Devam Et <ion-icon slot="end" name="arrow-forward"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-slide>

          <ion-slide>
            <!-- <img src="./slide-3.png"/> -->
            <h2>What is Appflow?</h2>
            <p>
              <b>Appflow</b> is a powerful set of services and features built on
              top of Ionic Framework that brings a totally new level of app
              development agility to mobile dev teams.
            </p>

            <ion-buttons class="ion-justify-content-end">
              <ion-button style="margin-right: auto" (click)="prevSlide()"
                >Geri Git <ion-icon slot="start" name="arrow-back"></ion-icon
              ></ion-button>
              <ion-button (click)="nextSlide()"
                >Devam Et <ion-icon slot="end" name="arrow-forward"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-slide>

          <ion-slide>
            <!-- <img src="./slide-4.png"/> -->
            <h2>Ready to Play?</h2>
            <ion-button fill="clear"
              >Mağazama Git <ion-icon slot="end" name="arrow-forward"></ion-icon
            ></ion-button>
          </ion-slide> </ion-slides
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
