<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <div class="search">
      <ion-item lines="none" class="search-item isBack">
        <ion-icon
          name="search-sharp"
          class="search-icon-text"
          color="primary"
        ></ion-icon>
        <ion-input
          #searchBar
          placeholder="Marka, ürün veya kategori ara"
          (ionFocus)="onFocus()"
        ></ion-input>
        <ion-icon
          *ngIf="searchFocused"
          color="dark"
          name="close"
          class="close-icon"
          slot="end"
          (click)="closeSearch()"
        ></ion-icon>
      </ion-item>
    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="!searchFocused">
    <ion-buttons>
      <ion-button style="flex: 1">
        <ion-icon slot="start" color="primary" name="funnel-outline"></ion-icon>
        Click me
      </ion-button>
      <ion-button style="flex: 1">
        <ion-icon
          slot="start"
          color="primary"
          name="reorder-three-outline"
        ></ion-icon>
        Click me
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!searchFocused" class="ion-padding" [@contentAnimation]>
  Fuck
</ion-content>

<app-search-results
  *ngIf="searchFocused"
  [@contentAnimation]
></app-search-results>
