<ion-toolbar>
  <div class="search">
    <ion-item lines="none" class="search-item">
      <ion-input
        class="search-input"
        #searchBar
        placeholder="Marka, ürün veya kategori ara"
        (ionFocus)="onFocus()"
      ></ion-input>
      <ion-icon
        color="primary"
        class="search-icon"
        [ngClass]="{ notClickable: !searchFocused }"
        [name]="searchIcon"
        slot="start"
        (click)="closeSearch()"
      ></ion-icon>
    </ion-item>
  </div>
</ion-toolbar>
