.search {
  .search-item {
    padding: 4px;

    .search-input {
      padding-left: 10px !important;
      border-left: 1px solid #f4f4f4;
    }

    .search-icon {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-right: 16px;
      &.notClickable {
        pointer-events: none;
      }
    }
  }
}
