ion-title {
  color: #434343;
}

ion-item {
  --padding-start: 0;
  --border-color: #dadada;
}

ion-item ion-label {
  color: #a6a6a6;
}

ion-item ion-icon {
  margin-top: auto;
  color: #c6cbd4;
}


.header {
  margin-top: 0;
  color: #434343;
}


ion-footer {
  padding-bottom: 48px;
}
