<ion-header mode="md" #header class="ion-no-border">
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  scrollEvents="true"
  [appFadeHeader]="{toolbar:toolbar, header: header}"
>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-slides pager="true" class="product-image-slider">
          <ion-slide *ngFor="let image of product.images">
            <ion-img [src]="image"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <div class="ion-padding-top">
      <ion-row class="ion-padding ion-align-items-center">
        <ion-col size="9" size-lg="4.5" offset-lg="3">
          <h1 class="product-title">{{product.title}}</h1>
        </ion-col>
        <ion-col size="3" size-lg="1.5">
          <div class="price-container">
            <p class="price" [ngClass]="{discount: product.discountPrice}">
              {{product.price}} TL
            </p>
            <p class="price" *ngIf="product.discountPrice">
              {{product.discountPrice}} TL
            </p>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <app-seperator></app-seperator>

    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-slides
          class="tags-slider ion-no-padding"
          [options]="sliderOptions"
        >
          <ion-slide>
            <ion-chip mode="ios" class="ion-no-margin" color="tertiary">
              <ion-label color="primary"
                >{{product.views}} kişi inceledi</ion-label
              >
            </ion-chip>
          </ion-slide>
          <ion-slide *ngFor="let tag of product.tags">
            <ion-chip mode="ios" class="ion-no-margin" color="tertiary">
              <ion-label color="primary">{{tag}}</ion-label>
            </ion-chip>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row class="ion-padding ion-align-items-center">
      <ion-col size-lg="6" offset-lg="3">
        <div class="store-name">
          Satıcı: <a> {{product.store.storeName}}</a>
          <ion-icon name="checkbox" color="success"></ion-icon>
          <ion-badge color="tertiary" mode="md"
            >{{product.store.storeRating}}</ion-badge
          >
        </div>
        <div class="shipping-time">
          <ion-icon name="car"></ion-icon> Tahmini Kargoya Teslim:
          <b>{{product.store.estShipping}} gün içinde</b>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row class="ion-padding ion-align-items-center">
      <ion-col size-lg="6" offset-lg="3">
        <div class="seller-offers">
          <h5>Satıcı Kampanyaları</h5>
          <p>
            <ion-icon color="primary" name="pricetag-outline"></ion-icon>50 TL
            üzeri ücretsiz kargo
          </p>

          <p>
            <ion-icon color="primary" name="pricetag-outline"></ion-icon>600 TL
            üzeri 50 TL indirim
          </p>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row class="ion-padding ion-align-items-center">
      <ion-col size-lg="6" offset-lg="3">
        <div class="description">
          <h5>Ürün Bilgileri</h5>

          <p>{{product.description}}</p>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col size-lg="6" offset-lg="3">
        <div class="variation">
          <ion-segment
            (ionChange)="segmentChanged($event)"
            value="size"
            mode="ios"
          >
            <ion-segment-button value="size">
              <ion-label>Beden Seç</ion-label>
            </ion-segment-button>
            <ion-segment-button value="color">
              <ion-label>Renk Seç</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row
      class="ion-padding ion-align-items-center"
      style="padding-bottom: 0"
    >
      <ion-col size-lg="6" offset-lg="3">
        <div class="variation-selector">
          <div
            *ngIf="activeVariation === 'size'"
            class="variation-options sizes"
            [class.active-variation]="activeVariation === 'size'"
          >
            <div
              *ngFor="let size of product.sizes; let i  = index"
              [class.active]="selectedSize === i"
              (click)="changeSize(i)"
            >
              {{size.size}}
            </div>
          </div>

          <div
            *ngIf="activeVariation === 'color'"
            class="variation-options colors"
            [class.active-variation]="activeVariation === 'color'"
          >
            <div
              *ngFor="let color of product.availableColors; let i  = index"
              [class.active]="selectedColor === i"
              (click)="changeColor(i)"
            >
              {{color}}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row class="ion-padding ion-align-items-center">
      <ion-col size-lg="6" offset-lg="3">
        <h5 class="slider-title">Benzer Ürünler</h5>
        <div class="product-slider">
          <ion-slides class="ion-no-padding" [options]="sliderOptions">
            <ion-slide *ngFor="let product of products">
              <ion-col
                class="ion-text-left"
                [routerLink]="['/product/' + product.id]"
                routerDirection="forward"
              >
                <app-product-card [product]="product"></app-product-card>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

    <app-seperator></app-seperator>

    <ion-row
      class="ion-padding-start ion-padding-end"
      style="padding-bottom: 58px"
    >
      <ion-col size-lg="6" offset-lg="3">
        <ion-button mode="ios" color="danger" expand="full" fill="outline">
          <ion-icon
            style="font-size: 18px; margin-right: 6px"
            name="warning-outline"
          ></ion-icon>
          Ürünü şikayet et
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer mode="ios">
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light">Sepete Ekle</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="tertiary">Satın Al</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
