<ion-header mode="md" #header class="ion-no-border">
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  scrollEvents="true"
  [appFadeHeader]="{toolbar:toolbar, header: header}"
>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-slides pager="true" class="product-image-slider">
          <ion-slide *ngFor="let image of product.images">
            <ion-img [src]="image"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="6" offset-lg="3" class="ion-padding">

        <h1 class="product-title">{{product.title}} </h1>


        <div class="seperator">
          <hr>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
