<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" #home>
      <ion-icon [name]="home.selected ? 'home' : 'home-outline'"></ion-icon>
      <!-- <ion-label>Anasayfa</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="favorites" #favorites>
      <ion-icon [name]="favorites.selected ? 'heart' : 'heart-outline'"></ion-icon>
      <!-- <ion-label>Favorilerim</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="my-cart" #cart>
      <ion-icon
        [name]="cart.selected ? 'cart' : 'cart-outline'"
      ></ion-icon>
      <!-- <ion-label>Sepetim</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile" #profile>
      <ion-icon [name]="profile.selected ? 'person' : 'person-outline'"></ion-icon>
      <!-- <ion-label>Hesabım</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="store" #shop>
      <ion-icon [name]="shop.selected ? 'storefront' : 'storefront-outline'"></ion-icon>
      <!-- <ion-label>Mağazam</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
