<ion-header translucent mode="md">
  <ion-toolbar>
    <ion-title>Nasıl Satıcı Olurum?</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismissModal()">Kapat</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list class="ion-no-padding">
    <ion-item>
      <ion-label>
        <h2>Hesap Oluştur</h2>
        <p>İlk olarak normal bir hesap oluştur.</p>
      </ion-label>

      <ion-icon name="log-in-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Hesabım Bölümüne Git</h2>
        <p>Giriş yaptıktan sonra aşşağdan Hesabım'a tıkla.</p>
      </ion-label>
      <ion-icon name="person-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Mağaza Aç</h2>
        <p>Önüne açılan listeden Mağaza Aç'a tıkla.</p>
      </ion-label>
      <ion-icon name="business-outline" color="primary" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Gerekli Alanları Doldur</h2>
        <p>Önüne açılan panelden boş alanları doldur.</p>
      </ion-label>
      <ion-icon name="document-text-outline" color="primary" slot="end"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-label>
        <h2>Telefon Numaranı Doğrula</h2>
        <p>Telefonuna gönderilen doğrulama kodunu gir.</p>
      </ion-label>
      <ion-icon name="call-outline" color="primary" slot="end"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-label>
        <h2>Mağazan Hazır</h2>
        <p>Formu tamamlayınca yönlendirileceksin.</p>
      </ion-label>
      <ion-icon name="storefront-outline" color="primary" slot="end"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
