<!-- <img src="{{ product.images[0] }}" />

<div class="card-content">
  <span class="product-text">
    <b>{{ product.store.storeName }}</b>
    &nbsp; {{ product.title }}
  </span>
  <div class="price-container">
    <p class="price" [ngClass]="{ discount: product.discountPrice }">
      {{ product.price }} TL
    </p>
    <p class="discount-price" *ngIf="product.discountPrice">
      {{ product.discountPrice }} TL
    </p>
  </div>
</div>

<ion-icon
  *ngIf="!product.isFavorite"
  class="like-icon"
  name="heart-outline"
  (click)="addToFavorite(product, $event)"
></ion-icon>
<ion-icon
  *ngIf="product.isFavorite"
  color="primary"
  (click)="addToFavorite(product, $event)"
  class="like-icon"
  name="heart"
></ion-icon> -->

<img src="{{ product.images[0] }}" />

<div class="prices-container">
  <p class="price" [ngClass]="{discounted: product.discountPrice}">{{ product.price }} TL</p>
  <p class="discount" *ngIf="product.discountPrice">
    {{ product.discountPrice }} TL
  </p>
</div>
<!-- <p>{{product.store.storeName}}</p> -->
<h6>{{ product.title }}</h6>



<ion-icon
  *ngIf="!product.isFavorite"
  class="like-icon"
  name="heart-outline"
  (click)="addToFavorite(product, $event)"
></ion-icon>
<ion-icon
  *ngIf="product.isFavorite"
  color="primary"
  (click)="addToFavorite(product, $event)"
  class="like-icon"
  name="heart"
></ion-icon>
