// img {
//   width: 100%;
//   height: 180px;
//   object-fit: cover;
//   border-radius: 8px

// }

// .card-content {
//   padding: 8px;
//   padding-top: 0;

//   .price-container {
//     font-size: 16px;
//     display: flex;
//     .price {
//       margin: 0;
//       color: var(--ion-color-primary);
//       font-weight: 650;

//       &.discount {
//         text-decoration: line-through;
//         color: #2a2a2a !important;
//         font-weight: 500;
//       }
//     }
//     .discount-price {
//       margin: 0;
//       margin-left: 0.75rem;
//       color: var(--ion-color-primary);
//       font-weight: 650;
//     }
//   }

//   .product-text {
//     width: 100%;
//     height: 38px;
//     line-height: 1.3;
//     font-size: 14px;
//     margin-bottom: 8px;
//     display: -webkit-box;
//     margin: 0;
//     color: #2a2a2a;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//   }
// }

img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.prices-container {
  max-width: 150px;
  display: flex;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .price {
    margin: 0;
    font-size: 16px;
    font-weight: 550;
    color: var(--ion-color-dark);

    &.discounted {
      text-decoration: line-through;
    }
  }

  .discount {
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 550;

    color: var(--ion-color-primary);
  }
}

// p {
//   margin-top: 5px;
//   margin-bottom: 0;
//   font-size: 14px;
//   font-weight: 550;
//   max-width: 150px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
//   color: var(--ion-color-dark);
// }

h6 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 550;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--ion-color-dark);
}

.like-icon {
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  //   rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: white;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}
