img,
ion-slide,
ion-slides {
  border-radius: 0px;
}

.slider-image {
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

// @media screen and (min-width: 992px) {
//   .slider-image {
//     height: 180px;
//   }
// }
