<ion-slides
  #slider
  pager="true"
  class="carousel"
  [options]="slideOptions"
  *ngIf="sliderImages"
>
  <ion-slide *ngFor="let img of sliderImages">
      <img class="ion-no-padding slider-image" [src]="img" />
  </ion-slide>
</ion-slides>

<ion-slides
  #slider
  pager="true"
  class="carousel"
  [options]="slideOptions"
  *ngIf="!sliderImages"
>
  <ion-slide *ngFor="let img of [1, 2, 3]">
      <ion-skeleton-text animated class="slider-image"></ion-skeleton-text>
  </ion-slide>
</ion-slides>
