<ion-header mode="md">
  <ion-toolbar>
    <app-back-button [defaultUrl]="'/profile'"></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="header">Kayıtlı Kartlarım</h1>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-item class="ion-no-padding" mode="md">
          <ion-label position="floating">Kart Sahibi</ion-label>
          <ion-input placeholder="Adı ve Soyadı"></ion-input>
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item class="ion-no-padding" mode="md">
          <ion-label position="floating">Kart Numarası</ion-label>
          <ion-input inputmode="numeric" maxlength="16"></ion-input>
          <ion-icon name="card-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item class="ion-no-padding" mode="md">
          <ion-label position="floating">Gerçerlilik Tarihi</ion-label>

          <ion-datetime
            display-format="MM/YY"
            min="2021"
            max="2080"
          ></ion-datetime>

          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item class="ion-no-padding" mode="md">
          <ion-label position="floating">CVV</ion-label>
          <ion-input
            placeholder="3 Haneli Güvenlik Kodu"
            inputmode="numeric"
            maxlength="3"
          ></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-button
    expand="block"
    class="main-button"
    routerLink="/profile"
    routerDirection="back"
  >
    Kaydet</ion-button
  >
</ion-footer>
