<ion-header mode="md">
  <app-search-bar
    #searchBar
    (onSearchBlur)="searchFocused = false"
    (onSearchFocus)="searchFocused = true"
  ></app-search-bar>
</ion-header>

<ion-content *ngIf="!searchFocused" class="ion-padding" [@contentAnimation]>
  <ion-grid>
    <app-image-carousel></app-image-carousel>

    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <div class="title">
          <h2>Kategoriler</h2>
          <p routerLink="/home/categories">Tümünü Gör</p>
        </div>

        <div class="category-slider ion-padding-start">
          <ion-slides [options]="sliderOptions">
            <ion-slide *ngFor="let category of categories">
              <ion-col>
                <h4>{{ category.name }}</h4>
                <img src="{{ category.image }}" />
              </ion-col>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <div class="title">
          <h2>Öne Çıkanlar</h2>
          <p routerLink="/home/products">Tümünü Gör</p>
        </div>

        <div class="product-slider">
          <ion-slides class="ion-no-padding" [options]="sliderOptions">
            <ion-slide *ngFor="let product of products">
              <ion-col
                class="ion-text-left"
                [routerLink]="['/product/' + product.id]"
                routerDirection="forward"
              >
                <app-product-card [product]="product"></app-product-card>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <div class="title">
          <h2>Markalar</h2>
        </div>

        <ion-slides mode="ios" [options]="sliderOptions">
          <ion-slide
            *ngFor="let item of [1,2,3,4,5,6,7,1,2,3,4,5]"
            class="brand-slide"
          >
            <ion-avatar class="brand-image">
              <ion-img src="../../assets/images/adidas.png"></ion-img>
            </ion-avatar>

            <span class="brand-name">Suerte Home</span>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-search-results
  *ngIf="searchFocused"
  [@contentAnimation]
></app-search-results>
