ion-grid {
  padding: 0;
}

ion-row,
ion-col {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  h2 {
    margin: 0;
    color: var(--ion-color-primary-text);
    font-size: 18px;
    font-weight: bold;
  }

  // p {
  //     margin: 0 16px 0 0;
  //     color: #656565;
  // }
}

.brand-slide {
  width: 70px;
  display: flex;
  flex-direction: column;

  .brand-image {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  .brand-name {
    font-weight: 550;
    color: var(--ion-color-primary-text);
    margin-top: 4px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    white-space: nowrap;
  }
}
